temp/*
dist/
build/
.eggs/
snntoolbox.egg-info/
*.pyc
__pycache__
.cache/
.idea/
.tox/
.pytest_cache
.project
.pydevproject
.settings/
**/log/
**/application_generated_data_files/
**/reports/
*.h5
*.npz
*.json

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
